	</main>
	<!-- footer container -->
	<footer id="footer" class="footer section_offset">
		<!-- social container -->
		<div class="footer-social">
			<!-- linkedin img -->
			<a
			    target="_blank"
			    href="https://linkedin.com/in/ishmael-peavy-b591a9170"
			    ><img src="https://i.imgur.com/3ypDF3P.png" alt="linkedin"
			  /></a>
			  <!-- portfolio img -->
			  <a
			    target="_blank"
			    href="https://ishsportfolio.com/"
			    ><img src="https://i.imgur.com/Sg4htdQ.png" alt="portfolio"
			  /></a>
			  <!-- back to top link -->
			  <a href="#home">
			    <p>Back To Top ^ </p>
			  </a>
		   </div>
	</footer>

	<script src="./js/main.js"></script>
</body>

</html>