
body {
     color: #333333;
     font-family: 'Poppins', sans-serif;
 }
 
 h1 {
     font-size: 2rem;
     text-align: left;
     font-weight: 500;
     line-height: 4rem;
 
     @include breakpoint(medium) {
         font-size: 3rem;
     }
 }
 
 h2 {
     font-size: 1.8rem;
     text-align: center;
     font-weight: 450;
 
     @include breakpoint(medium) {
         font-size: 2.8rem;
     }
 }
 
 h3 {
     font-size: 1.5rem;
     text-align: left;
     font-weight: 400;
     padding: 0 0 1.3rem 0;
 
     @include breakpoint(medium) {
         font-size: 2.5rem;
     }
 }
 
 
 
 a,
 a:visited,
 a:hover,
 a:active {
     color: #0F56B9;
     transition: all 1s ease-in-out;
 }
 
 .body-container {
     background: #F3F6F9;
 
     footer {
         position: relative;
         bottom: 0;
         right: 0;
         padding: 0;
         width: 100%;
         height: 15rem;
         background: #858b97;
 
         .footer-social {
             padding: 4rem 0 0 0;
             text-align: center;
 
             img {
                 width: 2.4rem;
             }
 
             a {
                 padding-right: 1rem;
 
                 p {
                     padding-top: 2rem;
                 }
             }
         }
 
 
     }
 
     .header-container {
         background-image: url("https://i.imgur.com/mVkNIbx.gif");
         background-position: center;
         background-size: cover;
         height: 100vh;
         position: relative;
         text-align: center;
 
 
 
         h1 {
             position: absolute;
             padding: 1rem;
             text-align: center;
             top: 35%;
             color: #ffffff;
             z-index: 3;
             width: 100%;
 
             @include breakpoint(medium) {
                 padding-right: 20rem;
                 padding-left: 20rem;
             }
 
         }
     }
 
     .overlay {
         background-color: #000000;
         height: 100vh;
         width: 100%;
         position: relative;
         opacity: .55;
         z-index: 2;
     }
 
     .promo {
         position: relative;
         text-align: center;
         margin: 0 auto;
         max-width: 1366px;
         background: #ffffff;
         width: 100%;
         box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);
         padding: 1rem 1.5rem 0 1.5rem;
 
         @include breakpoint(medium) {
             margin: 1rem auto;
         }
 
         .read {
             position: relative;
             display: flex;
             flex-direction: row;
             padding: 1rem 0 1rem 0;
             justify-content: space-between;
 
             .social {
                 position: relative;
                 padding: .5rem 0 0 0;
 
                 a {
                     margin-right: 2rem;
                 }
 
                 img {
                     width: 1.8rem;
 
                 }
             }
 
             p {
                 text-align: right;
                 font-size: .8rem;
                 margin: 0;
             }
         }
 
 
 
         .promo-img {
             display: flex;
             flex-direction: row;
 
             p {
                 padding: 1.5rem;
                 font-weight: 400;
                 margin: 0;
             }
         }
     }
 }
 
 .container {
     max-width: 1366px;
     background: #ffffff;
     padding: 0 1rem;
 
     p {
         text-align: left;
         padding: 1.3rem 0 0 0;
         font-weight: 350;
         margin: 0;
     }
 
 
 
 
 
     .content-container {
         padding: 2rem 0rem 2rem 0rem;
 
         @include breakpoint(medium) {
             max-width: 50%;
             margin: 0 auto;
         }
 
         &.heading {
             padding: 10rem 0rem 10rem 0rem;
 
         }
 
         p {
             @include breakpoint(medium) {
                 font-size: 1.2rem;
             }
         }
 
         &.emailonacid {
             img {
                 width: 100%;
 
             }
         }
     }
 
 
 }